amman-java-401d5/class-16/helloworld/src/main/resources/templates/signup.html
@maratouq
maratouq class 16
Latest commit 18bf2e1 5 hours ago
History
1 contributor
20 lines (19 sloc)  610 Bytes

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <input type="submit">
    <input type="text" name="firstName" id="firstName">
    <input type="submit">
    <input type="text" name="lastName" id="lastName">
    <input type="submit">
    <input type="text" name="dateOfBirth" id="dateOfBirth">
    <input type="submit">
    <input type="text" name="bio" id="bio">
    <input type="submit">
</form>

</body>
</html>
© 2021 GitHub, Inc.
Terms
